html, body {
  font: 40px Tahoma, sans-serif;
  height: 100%;
}

._hidden {
    display: none!important;
}

.outer-wrapper {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}

.wrapper {
    width: 100%;
    height: 3em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

.wrapper_score {
    height: 1.5em;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.scores {
    margin-right: 1em;
}

.a, .b, .result, .ok, .error {
    text-align: center;
    padding: 1em;
    border: 1px solid #999;
    border-radius: 5px;
}

.a, .b, .result {
    width: 3em;
}

.action, .equals {
    text-align: center;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    width: 1em;
    font-size: 2em;
}

.a, .b, .result {
    background-color: lightblue;
}

.ok {
    background-color: darkgreen;
}

._red {
    background-color: red;
}

.ok, .error {
    color: white;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.win-img, .lost-img {
    position: absolute;
    top: 0;
}

.win-img {
    left: 0;
}

.win-img, .lost-img {
    position: absolute;
    right: 0;
}

.answer {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.paranja {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #333;
    opacity: 0.6;
}
