html, body {
  font: 40px Tahoma, sans-serif;
  height: 100%;
}

._hidden {
    display: none!important;
}

.outer-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.wrapper {
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.wrapper_score {
    height: 1.5em;
    justify-content: flex-end;
}

.scores {
    margin-right: 1em;
}

.a, .b, .result, .ok, .error {
    text-align: center;
    padding: 1em;
    border: 1px solid #999;
    border-radius: 5px;
}

.a, .b, .result {
    width: 3em;
}

.action, .equals {
    text-align: center;
    align-self: center;
    width: 1em;
    font-size: 2em;
}

.a, .b, .result {
    background-color: lightblue;
}

.ok {
    background-color: darkgreen;
}

._red {
    background-color: red;
}

.ok, .error {
    color: white;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.win-img, .lost-img {
    position: absolute;
    top: 0;
}

.win-img {
    left: 0;
}

.win-img, .lost-img {
    position: absolute;
    right: 0;
}

.answer {
    position: absolute;
    top: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

.paranja {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #333;
    opacity: 0.6;
}


